
<div class="container">
  <div class ="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
        <%= link_to "Overview", cocktails_path %>

      <ul>
          <% @cocktail.doses.each do |dose| %>
          <li>
          <%= dose.description %> of <%= dose.ingredient.name %>
          (<%= link_to "delete", dose_path(dose), method: :delete %>)
          </li>
         <% end %>
      </ul>

    <%= simple_form_for [@cocktail, @new_dose], url: cocktail_doses_path(@cocktail) do |f| %>
  <%= f.error_notification %>

  <%= f.input :description %>
  <%= f.hidden_field :cocktail_id, value: @cocktail.id %>

  <%= f.input :ingredient_id, collection: Ingredient.all.map{|i| [i.name, i.id] } %>
   <%= f.button :submit %>
<% end %>


    </div>
  </div>
</div>


